.quizzesWrap {
    background-color: #2a2a2a;
    width: 600px;
    height: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
}

.title {
    background: #fece00;
    padding: 0 10px;
    text-align: right;
    color: #0e0e0e;
    letter-spacing: 0.1em;
    width: 400px;
}

.list {
    padding: 0;
}

.listItem {
    border-radius: 3px;
    border: 1px solid #fece00;
    margin: 5px 0;
}
.listItem:hover{
    background-color: #3a3a3a;;
}

.link {
    display: flex;
    color: inherit;
    text-decoration: none;
    align-items: center;
    padding: 4px 10px;
    
}

.linkTitle {
    width: 250px;
    font-size: 1.2em;
}

.progress {
    width: 210px;
    height: 15px;

}

.result {
    width: 100px;
    text-align: right;
}

/* .link:hover {
    color: #fece00;
} */

/* Styles for quiz */

.answerItem{
    background: #fff;
    color: #0e0e0e;
    padding: 5px;
    border-radius: 5px;
}

.answersList {
    list-style: none;
    padding: none;
    display: grid;
    grid-template-columns: 270px 270px;
    grid-template-rows: 65px 65px;
    column-gap: 20px;
    row-gap: 20px;
}

.selectedItem {
    background-color: #fece00;
}

.btnWrap {
    text-align: right;
}


.correct{
    background: green;
}

.correctHint{
    background: rgb(202, 255, 202);
}


.wrong{
    background: red;
}



.titleWrap {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.qTitle {
    background: #fece00;
    height: 48px;
    padding: 0 10px;
    color: #0e0e0e;
    letter-spacing: 0.1em;
    line-height: 48px;
    width: 400px;
}

.qCount {
    line-height: 48px;
    color: #fece00;
}

.question {
    height: 70px;
    text-align: center;
}

.answerInput {
    display: none;
}

.answerText {
    display: block;
    height: 100%;
}


/* Styles for result */

.resultTitle {
    text-align: center;
    color:#fece00;
    margin-top: 50px;
}

.resultText {
    text-align: center;
}

.resultLink {
    text-decoration: none;
    color: #fece00;
    text-align: center;
    display: block;
}
