.wiki {
    margin-top: 40px;
    background-color: #2a2a2a;
    width: 600px;
    height: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
}

.title {
    background: #fece00;
    padding: 0 10px;
    text-align: right;
    color: #0e0e0e;
    letter-spacing: 0.1em;
    width: 400px;
}