.title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A0934
}

.text{
    max-width: 70%;
    margin: 5px auto;
    text-align: center;
}

.navLink{
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.btn{
    width: 80px;
    background: #3A004C;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F7DBFF;
    font-weight: bold;
    box-shadow: 0 0 0 2px #2A0934;
    display: block;
}

.btn:active{
    box-shadow: none; 
}