.contentWrap{
    width: 1000px;
    margin: auto;
    background-size: cover;
    height: 500px;
    border-radius: 10px;
    background-color: #1a1a1a ;
}

.isNotAuthorized {
    display: flex;
}

/* .isAuthorized{
   
} */

.sideBlock {
    background-image: url(../../images/brain.jpg);
    background-size: cover;
    width: 350px;
    border-radius: 0 10px 10px 0;
}

.mainBlock {
    width: 650px;
}

.loader{
    text-align: center;
    margin-top: 210px;
}