.authPage {
    text-align: center;
}

.title{
  
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.titleWithMarginTop {
    composes: title;
    margin-top: 120px;
}



.backButtonWrap{
    width: 50px;
    /* opacity: 1; */
}

/* .backButtonWrap:hover{
    opacity: .8;
} */