.home{
    text-align: center;
    letter-spacing: 0.1em;
}


.title{
    margin-top: 150px;
    text-transform: uppercase;
}

.specialText{
    color: #fece00;
}

.text{
    max-width: 70%;
    margin: 5px auto;
    font-weight: bold;
 
}









