.wrap{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.title {
    background: #fece00;
    padding: 0 10px;
    text-align: right;
    color: #0e0e0e;
    letter-spacing: 0.1em;
    width: 400px;
}

.form {
    text-align: center;
    margin-top: 40px;
}

.img{
    width: 70px;
    margin: 10px auto 0;
    border: 2px solid #fece00;
    border-radius: 10px;
    padding: 5px;
    background-color: #1a1a1a;
}

.img:hover{
    background: #fff;
}

/* Styles for AvatarSelector */

.avatarsWrap{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.itemWrap{
    max-width: 96px;
    border: 2px solid black;
    border-radius: 10px;
    background: grey;

}

.active{
    background: #1a1a1a;
}


.radioBtn{
    display: none;
}

.item{
    margin: 10px auto;
}

.input{
    margin:auto;
    display: block;
}

.imgSelectorWrap{
    width: 200px;
    margin: 10px auto 30px;
    text-align: center;
}



.selectorBtn{
    height: 40px;
    background: #8601AF;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F7DBFF;
    font-weight: bold;
    box-shadow: 0 0 0 2px #8601AF;
}


.selectorBtn:active{
    box-shadow: none;
}

.activeBtn{
    background-color: rgba(116, 116, 116, 0.363);
    box-shadow: none;
}


.applyBtn{
    width: 80px;
    height: 30px;
    background: #3A004C;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F7DBFF;
    font-weight: bold;
    box-shadow: 0 0 0 2px #2A0934;
    display: block;
}


.iconBtn{
    margin-right: 20px;
}


/* Loader styles */

.loader{
padding: 40px;
position: fixed;
top: 30%;
left: 35%;
}